@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #26313F;
    padding: 50px 0px;
}

.footer .footer-whereAbouts {
    margin-top: 40px;
    display: flex;
    gap: 60px;
    margin-bottom: 40px;
}

.footer .footer-whereAbouts .footer-about {
    cursor: pointer;
    color: #A9A9A9;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 700;
    transition: .2s;
}

.footer .footer-whereAbouts .footer-about:hover {
    color: #fff;
}

.footer .footer-whereAbouts .footer-project {
    cursor: pointer;
    color: #A9A9A9;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 700;
    transition: .2s;
}

.footer .footer-whereAbouts .footer-project:hover {
    color: #fff;
}

.footer .footer-whereAbouts .footer-contact {
    cursor: pointer;
    color: #A9A9A9;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 700;
    transition: .2s;
}

.footer .footer-whereAbouts .footer-contact:hover {
    color: #fff;
}

.logoes {
    display: flex;
    align-items: center;
    gap: 50px;
    /* margin-bottom: 30px; */
}

.logoes a {
    text-decoration: none;
}

.logoes a .fa-brands {
    color: black;
    border-radius: 15px;
    font-size: 40px;
    padding: 15px 20px;
    background: white;
    transition: .3s;
}

.logoes a .fa-brands:hover {
    transform: translateY(-10px);
}